---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
import { YouTube } from '@astro-community/astro-embed-youtube';
import Youtube from "@/shortcodes/Youtube";


const demo = await getEntryBySlug("demo", "-index");
const { Content } = await demo.render();
const { title, description, meta_title, image, video } = demo.data;

---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-12">
            <h2 set:html={markdownify(title)} class="h3 mb-6" />
            <Youtube client:load id={video} title="Demo" />
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
