---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";


const invest = await getEntryBySlug("invest", "-index");
const { Content } = await invest.render();
const { title, description, meta_title, image, video } = invest.data;

---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-12">
            <h2 set:html={markdownify(title)} class="h3 mb-6" />
            
            <div class="content text-xl indent-2 font-semibold"> 
              <Content/>

              <a class="btn btn-primary ml-2" href="https://api.whatsapp.com/send/?phone=919638010557&text=Hi+Ravinder%2C%0A%0AI+am+interested+to+know+more+about+Sugarcane+AI.+Let%27s+connect.">
                Whatsapp Us
              </a>
              <a class="btn btn-primary ml-2" href="mailto:invest@sugarcaneai.dev?subject=Know%20more%20about%20Sugarcane%20AI%20-%20Investment&body=Hi%20Ravinder%2C%0A%0AI%20am%20Interested%20to%20know%20more%20about%20Sugarcane%20AI.%20Let's%20connect%20sometime.">
                Email Us
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
